# Python & Streamlit ignore
__pycache__/
*.pyc
.venv/
env/
venv/
.DS_Store
*.log
.vscode/
.idea/

# Ignore all CSVs except transactions_saved.csv
*.csv
!transactions_saved.csv

# Ignore virtual environment
venv/

# Specifically ignore local transaction data
transactions.csv

